body {
    background-color: white;
    text-align: center;
    list-style: none;
    font-family: 'Courgette', cursive;
}


header{
    background-color: #120d0d78;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
}

.top {
    font-size: 32px;
}







.commentaire{
    display: none;
    transition: 0.5s all ease-in-out;
}


.individuel{
    width: 30%;
    background-color: lightgray;
    margin-top: 2%;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}


.individuel li {
    margin: 0px 80px;
    /* height: 100%; */
    /* width: 100%; */
    padding: 28px;
    font-size: 27px;
    border-radius: 6px;
    list-style: none;
    transition: 0.4s all ease-in-out;
    /* width: 30%; */
    margin-top: 2%;

}


#participants_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#participants_form div {
    margin: 5px;
}

label {
    font-size: 22px;
    margin: 2%;
}


button{
    background-color: white;
    height: 46px !important;
    width: 179px;
    margin-top: 0px;
    transition: all 0.3s ease-in-out;
    background-color :#d3d3d3
}

button:hover {
    background-color: #7a7878;;
}


.individuel:hover .commentaire{
    display: block;
}

.individuel:hover {
    background-color: #7a7878;

}



ul{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.equipage {
    font-size: 28px;
}

.inscription {
    margin: 30px;
    margin-top: 56px;
}


footer {
    background-color: black;
    color: white;
    font-size: 26px;
}

