{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez les argonautes !{% endblock %}

{% block body %}

    <header>
        <img src="{{ asset('build/black_chess_king.png') }}">

        <p class="top">les Argonautes sont en route !</p>

        <img src="{{ asset('build/black_chess_king.png') }}">

    </header>

    <div class="content">
        <h1>Membres de l'equipage</h1>

        <ul class="liste-membres">

            {%for membre in list %}
            <div class="individuel">
            <li>  {{ membre.nom }} </li>
                <p class="commentaire"> {{ membre.commentaire }}</p>
            </div>
            {% endfor %}


        </ul>





        <div class="inscription"> <p class="equipage">Rejoignez l'équipage et partez à l'aventutre</p>

          {{ form(form) }}
        </div>


    </div>



    <footer>

        Made by BA Ibra-Alpha for Wild Code School


    </footer>

{% endblock %}
